{{ define "main" }}
  <article>
    <main>
      {{- .Content -}}
    </main>
    <section>
      {{ $section := .Section }}
      {{ range .Pages }}
      {{ if eq .Section $section }}
      {{ partial "summary.html" . }}
      {{ end }}
      {{ end }}
    </section>
    <hr />
    <section>
      {{ range .Paginator.Pages }}
      {{ if not (eq .Section $section) }}
      {{ partial "summary.html" . }}
      {{ end }}
      {{ end }}
    </section>
    {{- template "_internal/pagination.html" . -}}
  </article>
{{ end }}
